

/* -----------MyBlogs, AllBlogs, AdminBlogs------------------------- */

.blog-container {
  display:flex;
}

.blog-image-container{
  width:50%;
}

.blog-image {
  height: 100%;
  width: 100%;
}

.blog-info{
  position:relative;
  width:50%;
  text-align: center;
  padding-left: 30px;
}

.description {
margin-top: 10px;
padding: 20px;
font-style: italic;
height: calc(6 * 1.2em); 
overflow: hidden;
display:flex;
justify-content: space-around;




}

/* .description::last-line{
text-overflow: ellipsis;
} */


.crud-buttons {
display: flexbox;
justify-content: space-around;
align-items: center;
}

.crud-buttons Button{
margin:5px;
}

@media screen and (max-width:1161px) {
.blog-container {
  width:95%;
  margin:auto;
  flex-direction:column;
}
.blog-container div{
  width: 100%;
}
}


.blog-ops-buttons{
  gap:20px;
}


