
/*------------------Sidebar--------------------*/
.sidebar{
    position: fixed;
    left:-250px;
    width:250px;
    height: 100%;
    background: #205E61;
    transition:all .5s ease;
}
.sidebar header{
    font-size:22px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background: #3F979B;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    color:#fff;
    padding-left: 40px;
    box-sizing: border-box;
    transition:.4s;
    
}
ul li{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid grey;
}
ul li:hover{
  padding-left:5px;  
}
#check{
    display:none;
}
label :where(#btn, #cancel){
    position: absolute;
    cursor:pointer;
}
label #btn{
    z-index:1111;
    color: #fff;
    left:20px;
    top:15px;
    font-size:30px;
    transition:all .5s;
}
label #cancel{
    z-index:1111; 
    color: #fff;
    left:20px;
    top:15px;
    font-size: 30px;
    transition:all .5s ease; 
}
#check:checked ~ .sidebar{
    left:0;
}
#check label #btn{
    left:-250px;
}
#check:checked ~ label #btn{
    background:#3F979B;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left:195;
}
/*----------------------main section------------------*/
.main-screen{
    /* background: #E7AB9A; */
                /* url(./images/Heros2.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
    
    height: 100vh;
    width:100vw;
    transition: all .5s ease;
}
#check:checked ~ section{
    margin-left:250px
}
/* .main-screen h1{ */
    
.navbar{
    background:#2E4F4F;
    height:100px;
    width: 100vw;
    font-size: 30px;
    padding-top:45px;
    text-align: center;
    color:#ECF2FF   
}


.hero-section{
    height:500px;
    width:500px;
    padding-left: 100px;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.hero-section  h3{
    color:white;
    margin-bottom:50px;
}
.hero-section ul{
    list-style: none;
    text-decoration: none;
}
.hero-section i{
    font-size: 50px;
}
textarea{
    height: 100px;
    width:300px;
    padding:2px 5px 2px 5px;
    margin-left:100px; 
    margin-top:20px;
}
/*---------experiment------------*/
/* body {
    height: 100vh;
    display: flex;
    margin: 0;
    background: linear-gradient(135deg, #295fd5, #9d8ce0);
    align-items: center;
    justify-content: center;
    user-select: none;
  }*/
  
.group {
    height: 250px;
    width:700px;
    margin:auto;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    
    /* background: yellow ; */
  }
  
  .item {
    width: 8vw;
    height: 30vh;
    background-position: center;
    background-size: 30vh;
    margin: 1vw;
    border-radius: 2vw;
    display: inline-block;
    cursor: pointer;
  } 
  
/*----------------------Academic Main page------------------------*/
            
              /*---------------window spinner-------------------*/
.bigbox{
    margin:100px 300px; 
    padding:2px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto ;
    place-items: center;
    float: left;
  }

  .redbox,.bluebox, .greenbox, .yellowbox{
    height: 20px;
    width:20px;
    border-radius: 5px;
    
  }

  .redbox{
    background: #ED2B2A ;
    animation: top-left 2s infinite;
    
  }
  @keyframes top-left{
    0%{
      transform: translate(0,0);
    }
    50%{
      transform: translate(-100%,-100%);
    }
    100%{
      transform: translate(0,0);
    }
    
  }


  .bluebox{
    background: #146C94;
    animation: top-right 2s infinite;
    
  }
  @keyframes top-right{
    0%{
      transform: translate(0,0);
    }
    50%{
      transform: translate(100%,-100%);
    }
    100%{
      transform: translate(0,0);
    }

  }

  .greenbox{
    background: #03C988;
    animation: bottom-left 2s infinite;
    animation-delay: -2s
  }
  @keyframes bottom-left{
    0%{
      transform: translate(0,0);
    }
    50%{
      transform: translate(-100%,100%);
    }
    100%{
      transform: translate(0,0);
    }
    
  }


  .yellowbox{
    background: #FCE22A;
    animation: bottom-right 2s infinite;
    animation-delay: -2s
  }
  @keyframes bottom-right{
    0%{
      transform: translate(0,0);
    }
    50%{
      transform: translate(100%,100%);
    }
    100%{
      transform: translate(0,0);
    }
    
  }
  .whitebox{
    position: absolute;
    z-index: 1;
    padding:2px;
    /* background: #fff; */
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto ;    
    
  }
  .whitebox div {
    background: #A84448;
    
    box-shadow: 1px 2px 2px 1px black;
    height: 15px;
    width: 15px;
    margin:2px;
    border-radius: 5px;
    animation:opening 2s infinite;
    animation-delay: 1s;
  }
  @keyframes opening{
    0%{
      margin:2px;
    }
    50%{
      margin:25px;
    }
    100%{
      margin:2px;
    }
  }



  /*-------------------Contact page--------------------*/
                 /*-----------border run-----------*/
  .login-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(0,0,0,.5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
  }  
  .login-box a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  /* .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  } */
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  /*-----------------damru------------*/
  .damru{
    margin:100px;
    height:100px;
    width: 200px;
    background: #3F979B;
    /* border-left:2px solid brown ; */
    /* border-right:2px solid brown; */
    border-radius:50px;
  border: none;
  border-right: 10px solid brown;
  border-left: 10px solid brown;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  float: left;
    animation: to-fro 2s infinite;
  }
  @keyframes to-fro{
      0%{
        transform:rotate(-45deg) ;
      }
      50%{
         transform: rotate(45deg);
      }
      100%{
        transform: rotate(-45deg);
      }

  }